<form action="/search" method="POST" class="d-md-flex justify-content-between">
  <select name="jopType">
    <option value=''>All Category</option>
    <option value="Full Time">Full Time</option>
    <option value="Part Time">Part Time</option>
    <option value="Freelance">Freelance</option>
    <option value="Internship">Internship</option>
    <option value="Termporary">Termporary</option>
  </select>
  <select name="country">
    <option value=''>All Countries</option>
    <option value="AU">Australia</option>
    <option value="EG">Egypt</option>
    <option value="DE">Germany</option>
    <option value="IN">India</option>
    <option value="AT">Austria</option>
    <option value="US">United States</option>
    <option value="BR">Brazil</option>
    <option value="IO">British Indian Ocean Territory</option>
    <option value="CA">Canada</option>
    <option value="CN">China</option>
    <option value="CX">Christmas Island</option>
    <option value="CU">Cuba</option>
    <option value="CZ">Czech Republic</option>
    <option value="DK">Denmark</option>
    <option value="FR">France</option>
    <option value="SZ">Swaziland</option>
    <option value="SE">Sweden</option>
    <option value="GB">United Kingdom</option>
  </select>
  <input type="text" placeholder="Search Keyword" onfocus="this.placeholder = ''"
    onblur="this.placeholder = 'Search Keyword'">
  <button type="submit" class="template-btn">find job</button>
</form>