<form action="/search" method="POST" class="d-md-flex justify-content-between">
  <select name="jopType">
    <option value=''>All Category</option>
    <option value="Full Time">Full Time</option>
    <option value="Part Time">Part Time</option>
    <option value="Freelance">Freelance</option>
    <option value="Internship">Internship</option>
    <option value="Termporary">Termporary</option>
  </select>
  <select name="country">
    <option value=''>All Countries</option>
    <option>Australia</option>
    <option>Egypt</option>
    <option>Germany</option>
    <option>India</option>
    <option>Austria</option>
    <option>United States</option>
    <option>Brazil</option>
    <option>British Indian Ocean Territory</option>
    <option>Canada</option>
    <option>China</option>
    <option>Christmas Island</option>
    <option>Cuba</option>
    <option>Czech Republic</option>
    <option>Denmark</option>
    <option>France</option>
    <option>Swaziland</option>
    <option>Sweden</option>
    <option>United Kingdom</option>
  </select>
  <input type="text" placeholder="Search Keyword" onfocus="this.placeholder = ''"
    onblur="this.placeholder = 'Search Keyword'">
  <button type="submit" class="template-btn">find job</button>
</form>