<p class="login-img">
        <i class="icon_lock_alt"></i>
    </p>

    <div class="form-group">
        <label>Full Name
        </label>
        <input name="name" id="fullName" type="text" class="form-control" placeholder="Full Name" autofocus
            required>
    </div>

    <div class="form-group">
        <label>Email</label>

        <input name="email" id="email" type="email" class="form-control" placeholder="Email" autofocus
            required>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input name="password" id="password" type="password" class="form-control" placeholder="Password"
            required>
    </div>
