<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AddPost</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="/css/animate-3.7.0.css">
	<link rel="stylesheet" href="/css/font-awesome-4.7.0.min.css">
	<link rel="stylesheet" href="/fonts/flat-icon/flaticon.css">
	<link rel="stylesheet" href="/css/bootstrap-4.1.3.min.css">
	<link rel="stylesheet" href="/css/owl-carousel.min.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/style.css">

	<link rel="stylesheet" href="/css/main.css" />

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />


	<style type="text/css">
		body {
			background: -webkit-linear-gradient(left, rgb(238, 237, 247), #e5e5e6);
		}

		.require {
			color: #666;
		}

		input[type="text"],
		input[type="password"],
		input[type="date"],
		input[type="datetime"],
		input[type="email"],
		input[type="number"],
		input[type="search"],
		input[type="tel"],
		input[type="time"],
		input[type="url"],
		textarea,
		select {
			background: rgba(255, 255, 255, 0.1);
			border: none;
			font-size: 16px;
			height: auto;
			margin: 0;
			outline: 0;
			padding: 15px;
			width: 100%;
			background-color: #e8eeef;
			color: #8a97a0;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
			margin-bottom: 30px;
		}

		input[type="radio"],
		input[type="checkbox"] {
			margin: 0 4px 8px 0;
		}

		select {
			padding: 6px;
			height: 32px;
			border-radius: 2px;
		}

		fieldset {
			margin-bottom: 30px;
			border: none;
		}

		legend {
			font-size: 1.4em;
			margin-bottom: 10px;
		}


		.number {
			background-color: #5fcf80;
			color: #fff;
			height: 30px;
			width: 30px;
			display: inline-block;
			font-size: 0.8em;
			margin-right: 4px;
			line-height: 30px;
			text-align: center;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
			border-radius: 100%;
		}

		@media screen and (min-width: 480px) {
			form {
				max-width: 480px;
			}
		}

		.dropdown {
			transform: translateY(-50%);
			margin-top: 30pt;
		}

		a {
			color: #fff;
		}

		.dropdown dd,
		.dropdown dt {
			margin: 0px;
			padding: 0px;
		}

		.dropdown ul {
			margin: -1px 0 0 0;
		}

		.dropdown dd {
			position: relative;
		}

		.dropdown a,
		.dropdown a:visited {
			color: #fff;
			text-decoration: none;
			outline: none;
			font-size: 12px;
		}

		.dropdown dt a {
			background-color: #4f6877;
			display: block;
			padding: 8px 20px 5px 10px;
			min-height: 25px;
			line-height: 24px;
			overflow: hidden;
			border: 0;
			width: 272px;
		}

		.dropdown dt a span,
		.multiSel span {
			cursor: pointer;
			display: inline-block;
			padding: 0 3px 2px 0;
		}

		.dropdown dd ul {
			background-color: #4f6877;
			border: 0;
			color: #fff;
			display: none;
			left: 0px;
			padding: 2px 15px 2px 5px;
			position: absolute;
			top: 2px;
			width: 280px;
			list-style: none;
			height: 100px;
			overflow: auto;
		}

		.dropdown span.value {
			display: none;
		}

		.dropdown dd ul li a {
			padding: 5px;
			display: block;
		}

		.dropdown dd ul li a:hover {
			background-color: #fff;

		}
	</style>
	<link rel="stylesheet" href="/css/headerStyle.css">

</head>

<body>

	<%- include('includes/header.ejs') %>







	<div class="site-section bg-light">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-lg-8 mb-5">
					<form action="/users/addpost" method="POST" class="p-5 bg-white">

						<label for="job">Job Role:</label>
						<select id="job" onchange="getSelectedValue()" name="user_job">
							<optgroup label="Web">
								<option value="frontend_developer">Front-End Developer</option>
								<option value="php_developor">PHP Developer</option>
								<option value="python_developer">Python Developer</option>
								<option value="rails_developer"> Rails Developer</option>
								<option value="web_designer">Web Designer</option>
								<option value="WordPress_developer">WordPress Developer</option>
							</optgroup>
							<optgroup label="Mobile">
								<option value="Android_developer">Androild Developer</option>
								<option value="iOS_developer">iOS Developer</option>
								<option value="mobile_designer">Mobile Designer</option>
							</optgroup>
							<optgroup label="Business">
								<option value="business_owner">Business Owner</option>
								<option value="freelancer">Freelancer</option>
							</optgroup>
							<optgroup label="Other">
								<option value="secretary">Secretary</option>
								<option value="maintenance">Maintenance</option>
							</optgroup>
						</select>


						<br>
						<br>

						<label for="job">position:</label>
						<select name="position">
							<option value="secretary">intern</option>
							<option value="frontend_developer">junior</option>
							<option value="Android_developer">senior</option>
							<option value="business_owner">project maneger</option>

						</select>




						<div class="row form-group">
							<div class="col-md-12">
								<h3>Job Type</h3>
							</div>
							<div class="col-md-12 mb-3 mb-md-0">
								<label for="option-job-type-1">
									<input type="radio" id="jop-type" name="job-type"> Full Time
								</label>
							</div>
							<div class="col-md-12 mb-3 mb-md-0">
								<label for="option-job-type-2">
									<input type="radio" id="jop-type" name="job-type"> Part Time
								</label>
							</div>

							<div class="col-md-12 mb-3 mb-md-0">
								<label for="option-job-type-3">
									<input type="radio" name="job-type"> Freelance
								</label>
							</div>
							<div class="col-md-12 mb-3 mb-md-0">
								<label for="option-job-type-4">
									<input type="radio" name="job-type"> Internship
								</label>
							</div>
							<div class="col-md-12 mb-3 mb-md-0">
								<label for="option-job-type-4">
									<input type="radio" name="job-type"> Termporary
								</label>
							</div>

						</div>






						<div class="row form-group mb-4">
							<div class="col-md-12">
								<h3>Location</h3>
							</div>
							<div class="col-md-12 mb-3 mb-md-0">
								<input type="text" name="Location" class="form-control" placeholder="New York City">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<h3> Job Description </h3>
							</div>
							<div class="col-md-12 mb-3 mb-md-0">
								<textarea name="Job_Description" class="form-control" cols="30" rows="5"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label for="inputsm">Salary</label>
							<input class="form-control input-sm" name="Salary" type="number">
						</div>
						<input type="radio" id="radio" name="Salary" value="Dolar"> Dolar
						<br>
						<input type="radio" name="Salary" value="pound">pound
						<br>
						<br>
						<button type="submit" id="submit" class="btn btn-primary">Submit</button>




					</form>
				</div>


			</div>

			<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
			<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

			<script>



				/*
				
								$(".dropdown dt a").on('click', function () {
									$(".dropdown dd ul").slideToggle('fast');
								});
				
								$(".dropdown dd ul li a").on('click', function () {
									$(".dropdown dd ul").hide();
								});
				
								function getSelectedValue(id) {
									return $("#" + id).find("dt a span.value").html();
								}
				
								$(document).bind('click', function (e) {
									var $clicked = $(e.target);
									if (!$clicked.parents().hasClass("dropdown")) $(".dropdown dd ul").hide();
								});
				
								$('.mutliSelect input[type="checkbox"]').on('click', function () {
									var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
										title = $(this).val() + ",";
				
									if ($(this).is(':checked')) {
										var html = '<span title="' + title + '">' + title + '</span>';
										$('.multiSel').append(html);
										$(".hida").hide();
									} else {
										$('span[title="' + title + '"]').remove();
										var ret = $(".hida");
										$('.dropdown dt a').append(ret);
									}
								});
				*/

				$(function () {
					$('.dropdown-menu li').on('click', function (event) {
						var $checkbox = $(this).find('.checkbox');
						if (!$checkbox.length) {
							return;
						}
						var $input = $checkbox.find('input');
						var $icon = $checkbox.find('span.glyphicon');
						if ($input.is(':checked')) {
							$input.prop('checked', false);
							$icon.removeClass('glyphicon-check').addClass('glyphicon-unchecked')
						} else {
							$input.prop('checked', true);
							$icon.removeClass('glyphicon-unchecked').addClass('glyphicon-check')
						}
						return false;
					});
				});


				//code for select option for jop role
				function getSelectedValue() {
					var selectedValue = document.getElementById(jop).value;
					console.log(selectedValue);
				}
				getSelectedValue();

				//code for select option for position:
				function getSelectedValue() {
					var selectedValue = document.getElementById(position).value;
					console.log(selectedValue);
				}
				getSelectedValue();




			</script>
</body>

</html>