<!DOCTYPE html>
<html>

<head>

    <%- include('includes/head.ejs') %>

    <title>SignUp Page</title>
    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
        id="bootstrap-css">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">

    <!--external css-->
    <!-- font icon -->
    <link href="/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/css/style.css" rel="stylesheet">

    <link href="/css/style-responsive.css" rel="stylesheet" />
    <link href="/css/signup.css" rel="stylesheet" />

</head>

<body class="login-img3-body">
    <div class="container">

        <form class="login-form signup-form" action="/user/signupcompany" method="post" enctype="multipart/form-data">
            <div class="login-wrap">

                <%- include('includes/signupCommon.ejs')%>

                <div class="form-group">
                    <label>Company Name
                    </label>
                    <input name="company_name" id="company_name" type="text" class="form-control"
                        placeholder="Enter Your Company Name" autofocus required>
                </div>

                <%- include('includes/address_html.ejs')%>

                <div class="form-group">
                    <label>Foundation Year
                    </label>
                    <input name="Foundation" id="Foundation" type="number" class="form-control"
                        placeholder="Foundation Year of Your Company" autofocus>
                </div>

                <div class="form-group">
                    <label>Company Description
                    </label>
                    <textarea name="description" id="description" type="text" class="md-textarea form-control" rows="5"
                        placeholder="Your Description" autofocus> </textarea>
                </div>

                <div class="form-group">
                    <label>Upload Your Profile Picture</label>
                    <input name="pic" type="file" accept="image/*" class="form-control-file">
                </div>

                <% if(err) { %>
                <label class="alert alert-danger">
                    <%= err %></label>
                <% } %>

                <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
            </div>
        </form>

    </div>


    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
</body>

</html>