<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>

    <div id="treeCheckbox">
        <ul>
            <li>
                 Root Node
                <ul>
                    <li data-jstree='{ "selected" : true }'>
                        <a href="#">Selected Node</a>
                    </li>
                    <li data-jstree='{ "opened" : true }'>
                         Opened Node
                        <ul>
                            <li data-jstree='{ "disabled" : true }'>
                                 Disabled Node
                            </li>
                            <li data-jstree='{ "type" : "file" }'>
                                 Child Node
                            </li>
                        </ul>
                    </li>
                    <li data-jstree='{ "icon" : "fa fa-picture-o" }'>
                         Custom Icon
                    </li>
                    <li data-jstree='{ "icon" : "assets/images/icon.png" }'>
                         Custom Icon Image
                    </li>
                </ul>
            </li>
            <li class="colored">
                 Colored
            </li>
            <li class="colored-icon">
                 Colored Icon Only
            </li>
            <li class="folder">
                 Folder Style
            </li>
        </ul>
    </div>
</div>
<script src="/public/jstree/jstree.js"></script>

</body>

</html>